/*Merlin*/
.Merlin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

/*Taleboble*/
.bubble{
    width: 200px;
    height: 100px;
    margin-left: 40%;
    margin-right: 60%;
    top: 140px;
}

.Design{
    width: auto;
    height: 800px;
    padding: 150px;
    margin-top: -100px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 40px;
    background-color: #FFCF00;
}

.buttons > * {
  vertical-align: middle;
}

.tilbage{
  position: absolute;
  left: 10em;
  top: 45em;
}

.Naste{
  position: absolute;
  right: 10em;
  top: 45em;  
}