/*Merlin*/
.Merlin{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

}

/*Taleboble*/
.bubble{
    width: 200px;
    height: 100px;
    margin-left: 40%;
    margin-right: 60%;
    top: 90px;
}

/*
.Design{
    width: auto;
    height: 800px;
    padding: 150px;
    margin-top: -100px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 40px;
}
*/

.body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../Images/background_space.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the image */
}

.buttons > * {
  vertical-align: middle;
}

.tilbage{
  position: absolute;
  left:25em;
  top: 45em;

}

.Naste{
  position: absolute;
  right: 25em;
  top: 45em;
  
  }

  .ui.next.button {
    border-width: 2px;
    border-style: solid;
  }
  .ui.back.button {
    border-width: 2px;
    border-style: solid;
  }