.body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../Images/background_space.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center; /* Center the image */
}

.Merlin_box1{
  position: absolute;
  width: auto;
  margin: 0 auto;
}

.buttons > * {
  vertical-align: middle;
}

.tilbage{
  position: absolute;
  left:25em;
  top: 45em;
}

.Naste{
  position: absolute;
  right: 25em;
  top: 45em;
}