  .body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../Images/background_space.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
}

/*Flyt Merlin og talebobbel sammen*/
.Merlin_box3{
    position: relative;
    top: 3em;
    left: 25em;
}
  
.buttons > * {
    vertical-align: middle;
}
  
.tilbage{
    position: absolute;
    left:25em;
    top: 45em;
  
}

p{
    padding: 0.5em;
}
.Billede1 img{
    margin-left: 50em;
    margin-top: 10em;
    padding:0;
    cursor: pointer;
}


