.tekstHeader{
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  color: ivory;
  font-size: 60px;
  text-align: center;

}

/*taleboble*/
.bubble{
background-color: ivory;
position: relative;
text-align: center;
border-radius: 30px;
font-weight: bold;
vertical-align: middle;
}


/*Nederste trekant i boblen*/
.trekantVedTaleboble{
  position: absolute;
  border-right: 60px solid #FFF;
  border-top: 40px solid transparent;
  border-bottom: 80px solid transparent;
  top: 50%;
  left: 60%;

}

button.ui.red.google.button{
width: 10em;
padding: 0;
height: 4em;
}

button.ui.red.google.button i {
position: relative;
text-align: center;
width: 10em;
}

button.ui.red.google.button p{
position: relative;
right: -0.5em;
}

.ui.next.button {
  border-width: 2px;
  border-style: solid;
}
.ui.back.button {
  border-width: 2px;
  border-style: solid;
  
}