

.LegoLogo{
  width: 150px;
  display: inline-flex;
  margin-left: -122px;
  margin-top: -1.7%;
}



.tekstHeader{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: ivory;

}

.ui.dividing.header{
  color: ivory;
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*taleboble*/
.bubble{
  background-color: ivory;
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
  vertical-align: middle;
  width: 200px;
  height: 100px;
}


/*Nederste trekant i boblen*/
.trekantVedTaleboble{
  position: absolute;
  border-right: 60px solid #FFF;
  border-top: 40px solid transparent;
  border-bottom: 80px solid transparent;
  left: 1.5cm;
}

.Merlin{
  position: absolute;
  top: 4.5cm;
}


button.ui.red.google.button{
width: 10em;
padding: 0;
height: 4em;
}

button.ui.red.google.button i {
position: relative;
text-align: center;
width: 10em;
}

button.ui.red.google.button p{
position: relative;
right: -0.5em;
}

.ui.next.button {
  border-width: 2px;
  border-style: solid;
}
.ui.back.button {
  border-width: 2px;
  border-style: solid;
  
}